.frameBtns {
  display: flex;
  height: 40px;
  border-radius: 38px;
  padding: 4px;
  border: 1px solid var(--border);
  background: #0c0c0c;
}

.btnToggle {
  display: flex;
  justify-content: center;
  height: 32px;
  width: 50%;
  border-radius: 25px;
  border: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.9;
  cursor: pointer;
}
